<!--
@Author: Tushar Agarwal(tusharcoder) <tushar>
@Date:   2017-01-08T23:31:15+05:30
@Email:  tamyworld@gmail.com
@Filename: comment-form.component.html
@Last modified by:   tushar
@Last modified time: 2017-01-08T23:32:35+05:30
-->



<form (ngSubmit)="submitComment()">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" placeholder="Author" [(ngModel)]="model.author" name="author">
                </div>
                <br />
                <textarea class="form-control" rows="3" placeholder="Text" [(ngModel)]="model.text" name="text"></textarea>
                <br />
                <button *ngIf="!editing" type="submit" class="btn btn-primary btn-block">Add</button>
                <button *ngIf="editing" type="submit" class="btn btn-warning btn-block">Update</button>
            </div>
        </form>
